.cartContainer {
  margin-top: 8rem;
  height: 89vh;
}

.cartBtn {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 0;
  margin: 0 8%;
}

.cartBtn:hover {
  cursor: pointer;
}

.deleteBtn {
  font-size: 1rem;
  margin-left: 10%;
}

.btnContainer {
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 990px) {
  .row {
    flex-direction: column;
    min-width: fit-content;
  }
  .cartSum,
  .cartShow {
    width: 100%;
  }
}

@media screen and (max-width: 768x) {
  .row {
    flex-direction: column;
    min-width: fit-content;
  }
  .cartSum,
  .cartShow {
    width: 500px;
  }
}
