.coffeePage {
    height: 80%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.singularCoffee {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4%;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.specificCoffeeImg {
    background-color: white;
    height: 70%;
    width: 70%;
    object-fit: contain;
    margin-bottom: 5%;

}

.coffeeButton {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1rem;
}

.productDescription {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #f8f8f8;
}

.productBox {
    margin: 0 2%;
}


.addViewBtn {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
}

.addViewBtn:hover {
    color: #218802;
}


.deleted {
    margin-top: 10%;
    text-align: center;
    color: #218802;
}

.deletedBtn {
    margin-bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48%;
    margin-top: 2%;
}

.deletedBtn:hover {
    background-color: #218802;
    color: white;
}

.productPrice, .productTitle, .productSpecs {
    color: #218802;
}