.mainForm {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 600px;
  height: 100vh;
  background-color: rgba(238, 225, 225, 0.1);
}
.contactForm,
.contactInputs,
.textArea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background-color: rgba(238, 225, 225, 0.1);
  border-color: rgba(166, 39, 39, 0.957);
  color: #ec9797;
}

