.homeTitle {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonSection {
    display: flex;
    justify-content: center;
    width: 100%;
    background: transparent;
}
.topsellerTitle {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 0.5em;
    text-align: center;
}

.topsellerSection {
    /* border: 2px solid red; */
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}


.coffee {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.shopallButton {
    /* margin-top: 2em;
  margin-bottom: 2em; */
    /* border: 1px solid red; */
    font-size: 1.5em;
    background: transparent;
    margin-top: 0;
}

.randomizedImgs {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: white;
}

.coffeeName {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
    background-color: white;
    border: 1px solid black;
}

.coffeeName,
.randomizedImgs {
    background-color: rgb(247, 247, 247)
}

.pictureContainer {
    width: 100%;
    background-image: url("https://static01.nyt.com/images/2023/03/09/multimedia/07PARIS-DIARY-05-jbqh/07PARIS-DIARY-05-jbqh-superJumbo.jpg?quality=75&auto=webp");
    /* background-image: url("https://static01.nyt.com/images/2023/03/07/multimedia/07PARIS-DIARY-09-fbcl/07PARIS-DIARY-09-fbcl-superJumbo.jpg?quality=75&auto=webp"); */
    background-size: cover;
    height: 90vh;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: center;
    background: transparent;
    color: white;
}

.ctaBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

/* create a hover effect for the product name with pointer */
.coffeeName:hover,
.randomizedImgs:hover {
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .topsellerSection {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}